page {
  padding-bottom: 90rpx;
}
.revice_address_row .user_info_row {
  display: flex;
  padding: 20rpx;
}
.revice_address_row .user_info_row .user_info {
  flex: 5;
}
.revice_address_row .user_info_row .user_phone {
  flex: 2;
  text-align: right;
}
.cart_content .cart_title {
  padding: 20rpx;
  font-size: 36rpx;
  color: red;
  border-bottom: 1px solid currentColor;
}
.cart_content .cart_main .cart_item {
  display: flex;
  border-bottom: 1px solid #000;
  padding: 10rpx;
}
.cart_content .cart_main .cart_item .cart_image_wrap {
  flex: 2;
  display: flex;
}
.cart_content .cart_main .cart_item .cart_image_wrap image {
  width: 80%;
}
.cart_content .cart_main .cart_item .cart_info_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 4;
}
.cart_content .cart_main .cart_item .cart_info_wrap .goods_name {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #666;
}
.cart_content .cart_main .cart_item .cart_info_wrap .goods_price_wrap {
  display: flex;
  justify-content: space-between;
}
.cart_content .cart_main .cart_item .cart_info_wrap .goods_price_wrap .goods_price {
  color: red;
  font-size: 34rpx;
}
.cart_content .cart_main .cart_item .cart_info_wrap .goods_price_wrap .cart_num_tool {
  display: flex;
}
.cart_content .cart_main .cart_item .cart_info_wrap .goods_price_wrap .cart_num_tool .goods_num {
  width: 55rpx;
  height: 55rpx;
  display: flex;
  justify-content: center;
}
.footer_tool {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90rpx;
  background-color: aliceblue;
  display: flex;
}
.footer_tool .total_price_wrap {
  text-align: right;
  padding: 10rpx;
  flex: 3;
}
.footer_tool .total_price_wrap .total_price {
  color: red;
}
.footer_tool .order_pay_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34rpx;
  color: white;
  flex: 2;
  background-color: red;
}
